<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section class="center">
			
		<h1>Register</h1>
		
		<div th:if="${fail}">
    <h3 th:text="${fail}" style="color:red"></h3>
</div>

<div th:if="${msg}">
    <h3 th:text="${msg}" style="color:green"></h3>
</div>
		
   		
   		
    	
		
		<form th:action="@{/createuser}"  method="post">
		
	
			
			User Name: <input type = "text" name = "name" placeholder="Enter Your User Name" required><br><br>
			
			Password: <input type = "password" name = "password" placeholder="Enter Your Password" required><br><br>
			
			Email Id:
<input type="email"
       name="email"
       placeholder="Enter Your Email Id"
       required
       pattern="^[A-Za-z0-9+_.-]+@[A-Za-z0-9.-]+$"
       title="Enter a valid email address (example: user@gmail.com)">
<br><br>

Phone No:
<input type="tel"
       name="phone"
       placeholder="Enter Your 10-digit Phone No"
       required
       pattern="^[6-9][0-9]{9}$"
       title="Enter a valid 10-digit phone number starting with 6, 7, 8, or 9">
<br><br>
			
			
			<input type = "submit" value="Register">
			
		
		</form>
		<br>
	
	
	</section>
</body>
</html>