<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
</head>
<body>
<section class="center">

    <form th:action="@{/dologin}" method="post">

        <h1>Login</h1>

        <!-- Registration success message -->
        <div th:if="${msg}" class="alert-box alert-success">
            <span th:text="${msg}"></span>
        </div>

        <!-- Registration fail message -->
        <div th:if="${fail}" class="alert-box alert-error">
            <span th:text="${fail}"></span>
        </div>

        <!-- Login error -->
        <div th:if="${param.error}" class="alert-box alert-error">
            Invalid username or password
        </div>

        <!-- Logout success -->
        <div th:if="${param.logout}" class="alert-box alert-success">
            You have been successfully logged out
        </div>

        <!-- Input fields -->
        <label>Email Id:</label>
        <input type="text" name="username" placeholder="Enter Your Email Id" required />
        <br /><br />

        <label>Password:</label>
        <input type="password" name="password" placeholder="Enter Your Password" required />
        <br /><br />

        <input type="submit" value="Login" />
        <br /><br />
    </form>

</section>
</body>
</html>
